<!--Aqui se crea el formulario para que el capturista ingrese los datos del usurio para hacer validal la cotizacion que se le ha generado.-->
	<!DOCTYPE html>
<html>
<head>
	<title>Formulario de Seguro</title>
</head>
<body>
	<h1>Datos personales</h1>
	<form>
		<label for="nombre">Nombre:</label>
		<input type="text" id="nombre" name="nombre"><br>
		<label for="apPaterno">Apellido paterno:</label>
		<input type="text" id="apPaterno" name="apPaterno"><br>
		<label for="apMaterno">Apellido materno:</label>
		<input type="text" id="apMaterno" name="apMaterno"><br>
		<label for="fechaNacimiento">Fecha de nacimiento:</label>
		<input type="date" id="fechaNacimiento" name="fechaNacimiento"><br>
		<label for="direccion">Dirección:</label>
		<input type="text" id="direccion" name="direccion"><br>
		<label for="numCasa">Número de casa:</label>
		<input type="text" id="numCasa" name="numCasa"><br>
		<label for="colonia">Colonia:</label>
		<input type="text" id="colonia" name="colonia"><br>
	</form>

	<h1>Vehículo</h1>
	<form>
		<label for="anio">Año:</label>
		<input type="text" id="anio" name="anio"><br>
		<label for="modelo">Modelo:</label>
		<input type="text" id="modelo" name="modelo"><br>
		<label for="marca">Marca:</label>
		<input type="text" id="marca" name="marca"><br>
		<label for="numSerie">Número de serie:</label>
		<input type="text" id="numSerie" name="numSerie"><br>
	</form>

	<h1>Información de seguro</h1>
	<form>
		<label for="fechaInicio">Fecha de inicio:</label>
		<input type="date" id="fechaInicio" name="fechaInicio"><br>
		<label for="fechaTerminacion">Fecha de terminación:</label>
		<input type="date" id="fechaTerminacion" name="fechaTerminacion"><br>
		<label for="vehiculoAsegurado">Vehículo asegurado:</label>
		<input type="text" id="vehiculoAsegurado" name="vehiculoAsegurado"><br>
		<label for="idCotizacion">ID de cotización generada:</label>
		<input type="text" id="idCotizacion" name="idCotizacion"><br>
	</form>

	<h2> Guarda tu información </h2>
	<form>
	<input type="submit" value="Cancelar">
	<input type="submit" value="Guardar">
	</form>
	
</body>
</html>
